
<div>
  <div style="outline: currentcolor none medium;">
    <main>
      <section class="jNwWaC">
        <h1 class="gkhYVy">Rick and Morty</h1>
        <div class="bKHqmv">
          <h2 class="incIHE">Hey, did you ever want to hold a Terry fold?</h2>
        </div>
      </section>
      <section class="gbrNoi">
        <div class="isoutZ">

              <article *ngFor="let item of data" class="dwuBy">
                  <div class="jZYwcF">
                    <div class="zDfGt">
                      <img [src]="item.image" alt="Alan Rails">
                    </div>
                    <div class="cZnvWq">
                      <h2 class="bPimut">{{item.name}}</h2>
                    </div>
                  </div>
                  <div class="ebpDya">
                    <div class="dKnwMb">
                      <span>STATUS</span>
                      <p>{{item.status}}</p>
                    </div>
                    <div class="dKnwMb">
                      <span>SPECIES</span>
                      <p>{{item.species}}</p>
                    </div>
                    <div class="dKnwMb">
                      <span>GENDER</span>
                      <p>{{item.gender}}</p>
                    </div>
                    <div class="dKnwMb">
                      <span>ORIGIN</span>
                      <p>{{item.origin.name}}</p>
                    </div>
                    <div class="siRwa">
                      <span>LAST LOCATION</span>
                      <p>{{item.location.name}}</p>
                    </div>
                  </div>
                </article>

        </div>
      </section>
    </main>
  </div>
</div>
